<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2>Fýlakas Onomáton</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
      <ul>
        <li><%= link_to "All Names", names_path %></li>
        <li><%= link_to "Activate a Device", activations_path %></li>
        <li><%= link_to "New", new_name_path %></li>
      </ul>
		</div>
	</div>
</div>
