<p id="notice"><%= notice %></p>

<h1>About Onomáton Club</h1>

<p>
  <b>Fýlakas Onomáton</b>, the "keeper of names" is a server to support
  <a href="/pages/app"><b>Doritís Onomáton</b></a>.
</p>
<p>
  Features making this look like an actual <i>club</i> are forthcoming,
  depending on how popular <a href="/pages/app.html">the app</a> becomes.
</p>
<p>
  <b>Fýlakas Onomáton</b>, <b>Doritís Onomáton</b>, and <b>Onomáton Club</b>
  are provided by <a href="https://john.colagioia.net">John Colagioia</a>.
</p>
