<p id="notice"><%= notice %></p>

<h1>About Onomáton Club</h1>

<b>Fýlakas Onomáton</b>, the "keeper of names" is a server to support
<a href="/pages/app"><b>Doritís Onomáton</b></a>.

Features making this look like an actual <i>club</i> are forthcoming,
depending on how popular the app becomes.
