<p id="notice"><%= notice %></p>

<h1>Doritís Onomáton Mobile Apps</h1>

Generate random, useless names on the go!

<ul>
  <li><i class="fab fa-apple"></i> &mdash; Coming soon&hellip;</li>
  <li><i class="fab fa-android"></i> &mdash; Coming soon&hellip;</li>
  <li><i class="fab fa-amazon"></i> &mdash; Coming soon&hellip;</li>
</ul>

