@import "palette";
$light-blue-yonder: lighten($wild-blue-yonder, 25%);
$theme-colors: (
  primary: #49516f,
  secondary: #d69f7e,
  success: #496f5d,
  info: #8ea4d2,
  warning: #d69f7e,
  danger: #8e5d67,
);
$enable-gradients: true;
$enable-shadows: true;
$white: $light-blue-yonder;
$black: darken($black-bean, 25%);

@import "bootstrap";

@font-face {
  font-family: 'NotoSerifDisplay-Bold';
  src: url('/fonts/NotoSerifDisplay/NotoSerifDisplay-SemiBold.ttf');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'NotoSansDisplay';
  src: url('/fonts/NotoSansDisplay/NotoSansDisplay-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

#main-container {
  color: $independence;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dark-mode #main-container {
  color: $light-blue-yonder;
}

.navbar-inverse {
  background-color: $hookers-green;
  color: $tumbleweed !important;
  font-family: 'NotoSerifDisplay-Bold';
}

.navbar-brand {
  color: $tumbleweed !important;
}

.container {
  background-image: url('/paper_texture.png');
}

.devise-container {
  width: 345px;
  padding-left: 15px;
}

.product-block {
  width: 750px;
}

.btn {
  text-decoration: none;
}

body {
  background-color: $light-blue-yonder;
  color: $independence;
  font-family: 'NotoSansDisplay';
}

body.dark-mode {
  background-color: $independence;
  color: $light-blue-yonder;
}

h1, h2, h3, h4, h5, h6 {
  color: $independence;
  font-family: 'NotoSerifDisplay-Bold';
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: lighten($tumbleweed, 15%);
  font-family: 'NotoSerifDisplay-Bold';
}

input, textarea {
  margin-left: 1%;
  width: 98%;
}

table {
  width: 100%;
}

th {
  background-color: $black-bean !important;
  color: $wild-blue-yonder !important;
  font-family: 'NotoSerifDisplay-Bold';
}

.dark-mode th {
  background-color: $wild-blue-yonder !important;
  color: $black-bean !important;
}

td {
  background-color: $hookers-green;
  color: $independence;
}

.dark-mode td {
  background-color: $independence;
  color: $light-blue-yonder;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}

.finished-loading {
  display: none;
}

.start-loading {
  background-color: $hookers-green;
  color: $tumbleweed;
  display: block;
  font-size: xx-large;
  height: 100vh;
  left: 50%;
  padding-top: 40vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 5;
}

.dark-mode .start-loading {
  background-color: $tumbleweed;
  color: $hookers-green;
}

#hamnav {
  float: right;
  position: sticky;
  text-align: right;
  top: 0.5em;
  width: 25%;
}

#hamnav label, #hamburger { display: none; }

#hamlabel {
  font-size: 0.1em;
  position: fixed;
  top: 0.1em;
}

#hamnav label {
  color: white;
  display: inline-block;
  font-size: 1.2em;
  font-style: normal;
  padding: 10px;
  text-align: right;
}

#hamitems a {
  border-top: 1px solid white;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }

.ham-item {
  color: white;
  font-weight: bold;
}

.ham-item a {
  color: white;
}

.search-results {
  display: none;
  max-height: 67vh;
  overflow-y: scroll;
}

.search-results a {
  border: 0 !important;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-articles {
  color: $black-bean;
  display: inline-block;
  height: 50px;
  opacity: 0;
  padding: 15px 15px;
}

.new-articles a:link,.new-articles a:visited {
  color: $black-bean !important;
}

.highlight-new-articles {
  opacity: 1.0;
  transition: opacity 5.0s ease-in-out;
}

.aatn-logo #g4912 {
  visibility: hidden;
}

.dark-mode .aatn-logo #g4912 {
  visibility: visible;
}

.aatn-logo {
  left: 5%;
  position: relative;
  vertical-align: middle;
  width: 90%;
}
